## <b> Collecting and Murging Datasets <b>

## import liabraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd= os.getcwd()

### Jan Data

In [3]:
trip_data1= pd.read_csv(pwd+ "\\1-Jan 2022.csv")
trip_data1.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,13-01-2022 11:59,13-01-2022 12:02,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.01256,-87.674367,casual
1,A6CF8980A652D272,electric_bike,10-01-2022 08:41,10-01-2022 08:46,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.01256,-87.674367,casual

### Feb Data

In [4]:
trip_data2= pd.read_csv(pwd+ "\\2-Feb 2022.csv")
trip_data2.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E1E065E7ED285C02,classic_bike,19-02-2022 18:08,19-02-2022 18:23,State St & Randolph St,TA1305000029,Clark St & Lincoln Ave,13179,41.884621,-87.627834,41.915689,-87.634600,member
1,1602DCDC5B30FFE3,classic_bike,20-02-2022 17:41,20-02-2022 17:45,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Wrightwood Ave,TA1307000113,41.929143,-87.649077,41.928773,-87.663913,member

### Mar Data

In [5]:
trip_data3= pd.read_csv(pwd+ "\\3-March 2022.csv")
trip_data3.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,47EC0A7F82E65D52,classic_bike,21-03-2022 13:45,21-03-2022 13:51,Wabash Ave & Wacker Pl,TA1307000131,Kingsbury St & Kinzie St,KA1503000043,41.886875,-87.626030,41.889177,-87.638506,member
1,8494861979B0F477,electric_bike,16-03-2022 09:37,16-03-2022 09:43,Michigan Ave & Oak St,13042,Orleans St & Chestnut St (NEXT Apts),620,41.900998,-87.623752,41.898203,-87.637536,member

### Apr Data

In [6]:
trip_data4= pd.read_csv(pwd+ "\\4-April 2022.csv")
trip_data4.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3564070EEFD12711,electric_bike,06-04-2022 17:42,06-04-2022 17:54,Paulina St & Howard St,515,University Library (NU),605,42.019135,-87.673532,42.052939,-87.673447,member
1,0B820C7FCF22F489,classic_bike,24-04-2022 19:23,24-04-2022 19:43,Wentworth Ave & Cermak Rd,13075,Green St & Madison St,TA1307000120,41.853085,-87.631931,41.881892,-87.648789,member

### May Data

In [7]:
trip_data5= pd.read_csv(pwd+ "\\5-May 2022.csv")
trip_data5.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EC2DE40644C6B0F4,classic_bike,23-05-2022 23:06,23-05-2022 23:40,Wabash Ave & Grand Ave,TA1307000117,Halsted St & Roscoe St,TA1309000025,41.891466,-87.626761,41.943670,-87.648950,member
1,1C31AD03897EE385,classic_bike,11-05-2022 08:53,11-05-2022 09:31,DuSable Lake Shore Dr & Monroe St,13300,Field Blvd & South Water St,15534,41.880958,-87.616743,41.886349,-87.617517,member

### Jun Data

In [8]:
trip_data6= pd.read_csv(pwd+ "\\6-Jun 2022.csv")
trip_data6.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,600CFD130D0FD2A4,electric_bike,30-06-2022 17:27,30-06-2022 17:35,NaN,NaN,NaN,NaN,41.89,-87.62,41.91,-87.62,casual
1,F5E6B5C1682C6464,electric_bike,30-06-2022 18:39,30-06-2022 18:47,NaN,NaN,NaN,NaN,41.91,-87.62,41.93,-87.63,casual

### Check the dataset

In [9]:
print("the shape of jan data:", trip_data1.shape)
print("the shape of Feb data:", trip_data2.shape)
print("the shape of Mar data:", trip_data3.shape)
print("the shape of Apr data:", trip_data4.shape)
print("the shape of May data:", trip_data5.shape)
print("the shape of Jun data:", trip_data6.shape)

the shape of jan data: (103768, 13)
the shape of Feb data: (115600, 13)
the shape of Mar data: (284042, 13)
the shape of Apr data: (371244, 13)
the shape of May data: (634842, 13)
the shape of Jun data: (769198, 13)

### <b> Union first 6 months data <b>

In [10]:
trip_data_first6= pd.concat([trip_data1, trip_data2, trip_data3, trip_data4, trip_data5, trip_data6], ignore_index= True)
trip_data_first6.shape

(2278694, 13)

### Jul Data

In [11]:
trip_data7= pd.read_csv(pwd+ "\\7-Jul 2022.csv")
trip_data7.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,954144C2F67B1932,classic_bike,05-07-2022 08:12,05-07-2022 08:24,Ashland Ave & Blackhawk St,13224,Kingsbury St & Kinzie St,KA1503000043,41.907066,-87.667252,41.889177,-87.638506,member
1,292E027607D218B6,classic_bike,26-07-2022 12:53,26-07-2022 12:55,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual

### Aug Data

In [12]:
trip_data8= pd.read_csv(pwd+ "\\8-Aug 2022.csv")
trip_data8.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,550CF7EFEAE0C618,electric_bike,07-08-2022 21:34,07-08-2022 21:41,NaN,NaN,NaN,NaN,41.93,-87.69,41.94,-87.72,casual
1,DAD198F405F9C5F5,electric_bike,08-08-2022 14:39,08-08-2022 14:53,NaN,NaN,NaN,NaN,41.89,-87.64,41.92,-87.64,casual

### Sep Data

In [13]:
trip_data9= pd.read_csv(pwd+ "\\9-Sep 2022.csv")
trip_data9.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5156990AC19CA285,electric_bike,01-09-2022 08:36,01-09-2022 08:39,NaN,NaN,California Ave & Milwaukee Ave,13084,41.93,-87.69,41.922695,-87.697153,casual
1,E12D4A16BF51C274,electric_bike,01-09-2022 17:11,01-09-2022 17:14,NaN,NaN,NaN,NaN,41.87,-87.62,41.870000,-87.620000,casual

### Oct Data

In [14]:
trip_data10= pd.read_csv(pwd+ "\\10-Oct 2022.csv")
trip_data10.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A50255C1E17942AB,classic_bike,14-10-2022 17:13,14-10-2022 17:19,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member
1,DB692A70BD2DD4E3,electric_bike,01-10-2022 16:29,01-10-2022 16:49,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual

### Nov Data

In [15]:
trip_data11= pd.read_csv(pwd+ "\\11-Nov 2022.csv")
trip_data11.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BCC66FC6FAB27CC7,electric_bike,10-11-2022 06:21,10-11-2022 06:31,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member
1,772AB67E902C180F,classic_bike,04-11-2022 07:31,04-11-2022 07:46,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member

### Dec Data

In [16]:
trip_data12= pd.read_csv(pwd+ "\\12-Dec 2022.csv")
trip_data12.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,65DBD2F447EC51C2,electric_bike,05-12-2022 10:47,05-12-2022 10:56,Clifton Ave & Armitage Ave,TA1307000163,Sedgwick St & Webster Ave,13191,41.918244,-87.657115,41.922167,-87.638888,member
1,0C201AA7EA0EA1AD,classic_bike,18-12-2022 06:42,18-12-2022 07:08,Broadway & Belmont Ave,13277,Sedgwick St & Webster Ave,13191,41.940106,-87.645451,41.922167,-87.638888,casual

### Check the dataset

In [17]:
print("the shape of Jul data:", trip_data7.shape)
print("the shape of Aug data:", trip_data8.shape)
print("the shape of Sep data:", trip_data9.shape)
print("the shape of Oct data:", trip_data10.shape)
print("the shape of Nov data:", trip_data11.shape)
print("the shape of Dec data:", trip_data12.shape)

the shape of Jul data: (823480, 13)
the shape of Aug data: (785925, 13)
the shape of Sep data: (701329, 13)
the shape of Oct data: (558681, 13)
the shape of Nov data: (337730, 13)
the shape of Dec data: (181803, 13)

### <b> Union last 6 months

In [18]:
trip_data_last6= pd.concat([trip_data7, trip_data8, trip_data9, trip_data10, trip_data11, trip_data12], ignore_index= True)
trip_data_last6.shape

(3388948, 13)

### <b> Merge all Datasets<b>

In [19]:
trip_data= pd.concat([trip_data_first6, trip_data_last6], ignore_index= False)
trip_data.shape

(5667642, 13)

In [20]:
trip_data.to_csv("Cyclistic_bike_ride_data_2022.csv",index= False)